/public/assets
/public/build
/public/css
/public/js
/public/media
!/public/media/image/.gitkeep

/app/config/parameters.yml

/bin/symfony_requirements

/docs/.doctrees

/composer.lock
/node_modules

/npm-debug.log
/yarn-error.log

/etc/build/*
!/etc/build/.gitignore

/behat.yml
/phpspec.yml

# Symfony CLI https://symfony.com/doc/current/setup/symfony_server.html#different-php-settings-per-project
/.php-version
/php.ini

###> symfony/framework-bundle ###
/.env.*.local
/.env.local
/.env.local.php
/public/bundles
/var/
/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.result.cache
###< phpunit/phpunit ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
!/config/jwt/*-test.pem
###< lexik/jwt-authentication-bundle ###
/.idea/
/docker/mysql/auto.cnf
/docker/mysql/ca-key.pem
/docker/mysql/client-key.pem
/docker/mysql/ib_buffer_pool
/docker/mysql/ib_logfile0
/docker/mysql/ib_logfile1
/docker/mysql/ibdata1
/docker/mysql/ibtmp1
/docker/mysql/private_key.pem
/docker/mysql/server-key.pem
